<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Tienda</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Barra de Navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">Tienda Online</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_paginas' %}">Páginas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'acerca_de' %}">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'perfil' %}">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registro' %}">Registrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ver_carrito' %}">
                        Carrito
                        {% with total_items=request.user.cartitem_set.count %}
                            {% if total_items > 0 %}
                                <span class="badge badge-pill badge-primary">{{ total_items }}</span>
                            {% endif %}
                        {% endwith %}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
