{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Carrito de Compras</h2>

    {% if carrito %}
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in carrito %}
                    <tr>
                        <td>{{ item.producto.titulo }}</td>
                        <td>{{ item.cantidad }}</td>
                        <td>{{ item.producto.precio }}</td>
                        <td>{{ item.total_price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Total: {{ total }}</h3>
    {% else %}
        <p>Tu carrito está vacío.</p>
    {% endif %}
</div>
{% endblock %}
